html {
	min-height: 100%;
	position: relative;
}
/* Window URL - index.html*/
#windowURL {
	font-size: 32pt;
}

/* Navigation Content*/
nav {
	font-size: 16pt;
  width: 100%;
  background-color: #1D1D1E;
}

ul#navmenu {
	display: inline-block;
  list-style-type: none;
  margin: 0em;
  overflow: hidden;
}

ul#navmenu li {
  float: left;
}

ul#navmenu li a {
  display: inline-block;
	color: white;
  padding: 10px;
  text-decoration: none;
}

ul#navmenu li a:hover {
	color: #D1D3D5;
}

body {
	background-color: #F2F3F4;
	font-family: Helvetica;
	font-size: 100%;
	color: #343535;
	margin: 0 0 50px;
	padding-bottom: 0.01em;
}

article {
	margin: 5% 7% 5% 7%;
	padding: 5%;
	text-align: left;
	font-size: 100%;
	background-color: white;
	border: 1px solid #B2BABB;
	border-radius: 1mm;
}

#Output {
	font-size: 110%;
	display: inline-block;
	text-align: left;
	color: #154360;
}

#outputtext {
	font-size: 12pt;
	padding: 1%;
	white-space: pre-line;
	background-color: #F2F3F4;
	border-left: 5px solid;
}


/* option container */
#dropdown {
    position: relative;
    display: inline-block;
		float: right;
}

/* Dropdown Button */
#dropbtn {
    background-color: #2471A3;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
}

#dropbtn:hover, #dropbtn:focus {
    background-color: #154360;
}

/* Dropdown Content */
.option-content {
    display: none;
    position: absolute;
    background-color: #154360;
		color: white;
    min-width: 160px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.show {
	display: block;
}

#subtext {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#subtext.show {
    visibility: visible;

/* Animation*/
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
